<h2>How to test angular directive</h2>

<div>
    <h4>Basic Dom Manipulation</h4>
    <label for="search"></label><input type="text" name="search" id="search"/>
    <button type="button" clear-search>Clear</button>
</div>
<hr>

<div>
    <h4>Model manipulation with default scope</h4>
    <button read-right>I know my rights</button>
</div>
<hr>

<div ng-controller="FruitController">
    <h4>Model manipulation with isolated scope</h4>
    <span>What's your favorite fruit</span>
    <label for="fruit"></label><input type="text" name="fruit" id="fruit"/>
    <button type="button">Add</button>
</div>
<hr>